.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
  }
  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://static.iris.net.co/semana/upload/images/2018/8/10/579203_1.jpg');
    background-size: cover;
  }